In [3]:
# Task 1: Unique Words in a Sentence

# Input sentence
sentence = input("Enter sentence: ")

# Split sentence into words
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: Hi, I am an intern at innomatics research labs
Unique words count: 9
Unique words: {'am', 'intern', 'Hi,', 'research', 'innomatics', 'labs', 'at', 'I', 'an'}

In [4]:
# Task 2: Highest Salary from Employee Data

# Employee dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Assume first employee has highest salary
highest_name = ""
highest_salary = 0

# Compare salaries
for name in employees:
    if employees[name] > highest_salary:
        highest_salary = employees[name]
        highest_name = name

print("Highest Salary:", highest_name, "-", highest_salary)

Highest Salary: Ravi - 75000

In [5]:
# Task 3: Find max and min values

numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
max_val = numbers[0]
min_val = numbers[0]

# Compare each number
for n in numbers:
    if n > max_val:
        max_val = n
    if n < min_val:
        min_val = n

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [6]:
# Task 4: Count Products Above a Price Threshold

prices = [450, 1200, 899, 1500, 300]

count = 0  # Counter

# Check each price
for p in prices:
    if p > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [7]:
# Task 5: Calculate attendance percentage

attendance = ["P", "P", "A", "P", "P"]

present = 0  # Counter for Present

# Count "P"
for day in attendance:
    if day == "P":
        present += 1

# Calculate percentage
percentage = (present / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [8]:
# Task 6: Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [9]:
# Task 7: Count Character Frequency

text = "python"

freq = {}  # Empty dictionary

# Count each character
for ch in text:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [10]:
# Task 8: Convert list to tuple

numbers = [10, 20, 30]

# Convert list to tuple
t = tuple(numbers)

print("Tuple:", t)

Tuple: (10, 20, 30)

In [11]:
# Task 9: Check if a Key Exists in a Dictionary

employees = {"Ravi": 75000, "Anita": 68000}

# Check if key exists
if "Ravi" in employees:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

In [12]:
# Task 10: Calculate average marks

marks = [70, 75, 80, 65]

# Calculate average
average = sum(marks) / len(marks)

print("Average Marks:", average)

Average Marks: 72.5